<div class="spaced-repetition-container">
  <header class="header">
    <h1>Spaced Repetition Study</h1>

    <nav class="view-navigation">
      <button
        type="button"
        (click)="toggleToArraysList()"
        class="btn btn-nav"
        [class.active]="currentView() === 'arraysList'"
      >
        Arrays List
      </button>
      <button
        type="button"
        (click)="toggleToStudyView()"
        class="btn btn-nav"
        [class.active]="currentView() === 'study'"
      >
        Study
      </button>
    </nav>
  </header>

  @if (currentView() === 'arraysList') {
  <app-flashcard-arrays-list (arraySelected)="onArraySelected($event)"></app-flashcard-arrays-list>
  } @else if(selectedFlashcards()) {
  <app-study-view [selectedFlashcards]="selectedFlashcards()"></app-study-view>
  }
</div>
